{# cette page sert a tester les formulaires sur une entite d'association comme SheetXXXX #}

{% extends 'platform/member/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset ('') }}"> 
{% endblock %}


{% block main_member_section %}
	
<div>
	<a href="">etape 1</a><a href="">etape2</a><a href="">etape 3</a><a href="">etape4</a>
</div>

{{form(form)}}
	
{% endblock %}


	

        