{% extends 'platform/member/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset ('style/platform/member/base.css') }}"> 
{% endblock %}


{% block main_member_section %}
	<div id=layout_messages>	
	
		{{ form(form) }}
		
	</div>
{% endblock %}




        