<article class="news" style="background-image: url( {{ asset ('images/platform/homepage/news.jpg') }});  
						height:360px;width:300px;;background-repeat:no-repeat	;background-size:cover; " >
		
	<div id="news_title">
		<h3>ceci est un titre</h3>
	</div>
			
	<div id="news_resume">
		<p>
			ceci sera la description de la news
		</p>
	</div>
			
	<div id="read_more">
		<a href ={{ path('app_login') }}><button class="button_more" >continuer à lire</button></a>
	</div>
			
</article>