{% extends 'platform/base/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset ('style/platform/registration/form_register.css') }}"> 
{% endblock %}

{% block main_section %}
<div>
<p>Cette page est en cours de construction, encore un peu de patience.</p>
</div>
{% endblock %}



