{% extends 'platform/member/campaign/homepage.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset ('style/member/campaign/campaign.css') }}"> 
{% endblock %}

{% block campaign %}
	<h2>{#{{ campaign.code }}#}</h2>

	{{form(form)}}

{% endblock %}
	



	

        